#navbar {
    background-color: rgb(98, 19, 19);
}

#nbtitle {
    color: whitesmoke;
}

#nbhome {
    color: whitesmoke;
}

#nbfeatures {
    color: whitesmoke;
}

#nbpricing {
    color: whitesmoke;
}

#nbAbout {
    color: whitesmoke;
}

#nbDropdown {
    color: whitesmoke;
}