:root {
    --purple: rgb(81, 26, 130);
}

body {
    background-color: rgb(32, 31, 33);
    font-family: 'Marck Script', cursive;
}

#navbar {
    background-color: black;
}

#nbtitle {
    color: var(--purple);
    font-family: 'Cinzel', serif;
}

#nbhome {
    color: var(--purple);
}

#nbfeatures {
    color: var(--purple);
}

#nbpricing {
    color: var(--purple);
}

#nbAbout {
    color: var(--purple);
}

#nbDropdown {
    color: var(--purple);
}

#nbbtn {
    color: var(--purple);
}

.image {
    background-image: url(./images/Sam\'s\ photo.jpg);
    height: 250px;
    width: 100%;
    margin-bottom: 0.5%;
    background-size: auto;
    background-position: center;
}

.sideBySide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.rowLeft {
    background-image: url(./images/Tarot-Cards.jpg);
    height: 410px;
    width: 650px;
    background-size: cover;
}

.rowRight h2 {
    color: white;
    font-size: xx-large;
}

.sideBySide-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: 48%;
}

.rowRight-2 {
  background-image: url(./images/Crystal\ Ball.jpg);
  height: 410px;
  width: 650px;
  background-size: cover;
  flex-basis: 48%;
}

.rowLeft-2 h2 {
  color: white;
  font-size: xx-large;
  flex-basis: 48%;
}







/* This is for the FIRST image and text on the main page. */
@media screen and (max-width: 768px) {
  .sideBySide {
    flex-direction: column;
  }
  
  .column {
    width: 100%;
  }
  
  .rowLeft {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
  }
  
  .rowLeft {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
}


/* This Media is for the SECOND image and text for the main page. */
/* Styles for tablet screens (768px to 1023px wide) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sideBySide-2 {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .rowLeft-2 {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .rowRight-2 {
    height: 410px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
  }

  .rowLeft-2 h2 {
    font-size: xx-large;
  }
}

/* Styles for small screens (up to 767px wide) */
@media only screen and (max-width: 767px) {
  .sideBySide-2 {
    flex-direction: column-reverse;
  }

  .rowRight-2 {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
  }

  .rowLeft-2 {
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .rowLeft-2 h2 {
    font-size: 2rem; /* Adjust this value as needed */
    white-space: normal;
    overflow-wrap: break-word;
  }

  .rowLeft-2 p {
    font-size: 1rem; /* Adjust this value as needed */
    white-space: normal;
    overflow-wrap: break-word;
  }
}









