:root {
    --purple: rgb(81, 26, 130);
}

body {
    background-color: rgb(32, 31, 33);
}

#navbar {
    background-color: black;
}

#nbtitle {
    color: var(--purple);
}

#nbhome {
    color: var(--purple);
}

#nbfeatures {
    color: var(--purple);
}

#nbpricing {
    color: var(--purple);
}

#nbAbout {
    color: var(--purple);
}

#nbDropdown {
    color: var(--purple);
}

#nbbtn {
    color: var(--purple);
}

.image {
    background-image: url(./images/Tarot-Cards.jpg);
    height: 450px;
    width: 100%;
    margin-bottom: 0.5%;
    background-size: cover;
    background-position: center;
    display: flex;

}